/* styles for index.html (mogo 10) */

body{
	font-family: 1em;
	font-family: 'robotoregular', sans-serif
}

/* clearfix */
.clearfix:after,
.clearfix:before{
  content: " ";
  display: table;
}

.clearfix:after{
  clear: both;
}
/* end clearfix */

.l-center{
	position: relative;
	min-width: 960px;
	max-width: 1200px;
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

/* footer to bottom */

html, 
body{
	width: 100%;
	height: 100%;
}

.l-wrapper{
	position: relative;
	min-height: 100%;
	overflow: height;
}
	.l-wrapper:after{
		height: 560px;
	}



.b-footer{
	position: relative;
	height: 560px;
	margin: -560px 0 0;
}
/*	end footer to bottom */

i{
	font-style: normal;
}

.b-btn{
	font-family: 'montserratbold';
	font-size: 0.875;
	padding: 0.75em 1.875em;
	text-transform: uppercase;
}

/*b-header*/
.b-header{
	position: relative;
	min-height: 1000px;
	background: url("../img/bg-header.jpg") no-repeat;
	background-size: cover;
}
/*b-top-header*/
.b-top-header{
	padding: 1.75em 0 0;
}
	.b-logo{
		float: left;
	}

		.b-logo__link{
			color: #fff;
			text-decoration: none;
			font-family: 'montserratbold', 'montserratregular', sans-serif;
			font-weight: 700;
			font-size: 1.875em; 
		}

	/*b-top-menu*/
.b-top-menu{
	float: right;
}

	.b-top-menu__list{
		list-style: none;
		margin: 0;
		padding: 0
	}
		.b-top-menu__item{
			float: left;
		}

			.b-top-menu__link{
				display: block;
				font-family: 'montserratregular';
				font-size: 0.875em;
				text-transform: uppercase;
				text-decoration: none;
				padding: 0.75em 1.7em;
				color: #fff;
			}	

				.b-top-menu__item_active a,
				.b-top-menu__link:hover{
					color: #fce38a;
				}

				.b-top-menu__item_active{
					/*box-shadow: 0 25px 0 -20px #fce38a;*/
					-webkit-box-shadow: 0px 5px 0px 0px #fce38a;
					-moz-box-shadow: 0px 5px 0px 0px #fce38a;
					box-shadow: 0px 20px 0px -17px #fce38a;
				}

	/*end b-top-menu__list*/
	
	/*b-top-buttons*/
	.b-top-buttons{
		float: right;
	}
		.b-top-buttons__list{
			list-style: none;
			margin: 0;
			padding: 0;
		}
			.b-top-buttons__item{
				float: left;
			}

				.b-top-buttons__link{
					display: block;
					position: relative;
					padding: 0.5em 1.25em;
					text-align: center;
					font-family: 'FontAwesome';
					color: #fff;
					text-decoration: none;
				}
					.b-top-buttons__link:hover{
						color: #fce38a;
					}

				.b-btn-slider{
					background: none;
					border: 3px solid #fff;
					color: #fff;
				}
					.b-btn-slider:hover{
						border: 3px solid #efefef;
						color: #efefef;
					}
	/*end b-top-buttons*/




/*end b-top-header*/

/*.b-middle-header*/
.b-middle-header{

}
	.b-slider__list{
		list-style: none;
		margin: 0;
		padding: 0;
	}
		.b-slider__item{
			color: #fff;
			text-align: center;
			padding: 10em 0 0 0;
		}
			.b-slider__head{
				font-family: 'kaushan_scriptregular';
				font-size: 4.5em;
				line-height: 0.9em;
				margin: 0 0 1em 0;
			}

			.b-slider__slogan{
				position: relative;
				font-family: 'montserratbold';
				font-size: 9.375em;
				line-height: 0.9em;
				text-transform: uppercase;
				margin: 0 0 126px 0;
			}
				.b-slider__slogan:after{
					content: " ";
					position: absolute;
					bottom: -73px;
					left: 50%;
					margin: 0 0 0 -30px;
					width: 60px;
					height: 3px;
					background: #fff;
				}

	.b-bottom-header{
		position: absolute;
		width: 100%;
		bottom: 0;
	}
		.b-slider-nav__list{
			list-style: none;
			margin: 0;
			padding: 0;
		}
			.b-slider-nav__item{
				position: relative;
				float: left;
				width: 23%;
				margin: 0 1%;
				border-top: 3px solid rgba(255, 255, 255, .5);
				color: #fff;
				font-family: 'montserratbold';
			}
				.b-slider-nav__item_active{
					border-top: 3px solid rgba(255, 255, 255, 1);
				}
					.b-slider-nav__item_active:before{
						position: absolute;
						top:-3px;
						left: 0;
						content: " ";
						height: 3px;
						width: 70px;
						background: #f38181;
					}

				.b-slider-nav__head{
					opacity: .7;
					font-size: 1.125em;
					margin: 24px 0 0;
					padding: 0 0 28px 0;
				}
					.b-slider-nav__item_active .b-slider-nav__head{
						opacity: 1;
					}
					.b-slider-nav__head span{
						font-size: 1.5em;
					}
/*end b-middle-header*/


/*end b-header*/

/*b-about*/
.b-about{
	padding: 93px 0 110px 0;
}

	.b-prew{
		font-family: 'kaushan_scriptregular';
		font-size: 1.5em;
		text-align: center;
		margin: 0 0 1em 0;
	}
		.b-head{
			position: relative;
			font-family: 'montserratbold';
			font-size: 1.875em;
			text-align: center;
			text-transform: uppercase;
			margin: 0 0 2em 0;
		}
			.b-head:after{
				position: absolute;
				left: 50%;
				bottom: -1em;
				content: " ";
				height: 3px;
				width: 70px;
				background: #f38181;
				margin: 0 0 0 -35px;
			}

		.b-desc{
			font-size: 0.93em;
			text-align: center;
			color: #999;
			margin: 0 0 6.9em 0;
		}

		.b-about__list{
			list-style: none;
			margin: 0;
			padding: 0;
		}
			.b-about__item{
				float: left;
				width: 30%;
				padding: 0 0 0 3%;
				background: #95e1d3;
			}

/*end b-about*/

/*b-facts*/
.b-facts{
	background: #95e1d3;
}
	.b-facts__list{
		list-style: none;
		padding: 0;
		margin: 0;
	}
		.b-facts__list:after{
			content: "";
			display: block;
			width: 100%
		}

		.b-facts__item{
			float: left;
		}
/*end b-facts*/
