/* styles for index.html (mogo 10) */

body{
	font-family: 1em;
	font-family: 'robotoregular', sans-serif
}

/* clearfix */
.clearfix:after,
.clearfix:before{
  content: " ";
  display: table;
}

.clearfix:after{
  clear: both;
}
/* end clearfix */

.l-center{
	position: relative;
	min-width: 960px;
	max-width: 1200px;
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

/* footer to bottom */

html, 
body{
	width: 100%;
	height: 100%;
}

.l-wrapper{
	position: relative;
	min-height: 100%;
	overflow: hidden;
}
	.l-wrapper:after{
        content: "";
        display: block;
		height: 560px;
	}



.b-footer{
	position: relative;
	height: 560px;
	margin: -560px 0 0;
}
/*	end footer to bottom */

i{
	font-style: normal;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.b-btn{
	font-family: 'montserratbold';
	font-size: 0.875;
	padding: 0.75em 1.875em;
	text-transform: uppercase;
}

input,
textarea {
    outline:none;
}

img{
	margin: 0;
	padding: 0;
}

/*b-header*/
.b-header{
	position: relative;
	min-height: 1000px;
	background: url("../img/bg-header.jpg") no-repeat;
	background-size: cover;
}
/*b-top-header*/
.b-top-header{
	padding: 1.75em 0 0;
}
	.b-logo{
		float: left;
	}

		.b-logo__link{
			color: #fff;
			text-decoration: none;
			font-family: 'montserratbold', 'montserratregular', sans-serif;
			font-weight: 700;
			font-size: 1.875em; 
		}

			.b-logo__link:hover{
				color: #fce38a;
			}

	/*b-top-menu*/
.b-top-menu{
	float: right;
}

	.b-top-menu__list{
		list-style: none;
		margin: 0;
		padding: 0
	}
		.b-top-menu__item{
			float: left;
		}

			.b-top-menu__link{
				display: block;
				font-family: 'montserratregular';
				font-size: 0.875em;
				text-transform: uppercase;
				text-decoration: none;
				padding: 0.75em 1.7em;
				color: #fff;
			}	

				.b-top-menu__item_active a,
				.b-top-menu__link:hover{
					color: #fce38a;
				}

				.b-top-menu__item_active{
					/*box-shadow: 0 25px 0 -20px #fce38a;*/
					-webkit-box-shadow: 0px 5px 0px 0px #fce38a;
					-moz-box-shadow: 0px 5px 0px 0px #fce38a;
					box-shadow: 0px 20px 0px -17px #fce38a;
				}

	/*end b-top-menu__list*/
	
	/*b-top-buttons*/
	.b-top-buttons{
		float: right;
	}
		.b-top-buttons__list{
			list-style: none;
			margin: 0;
			padding: 0;
		}
			.b-top-buttons__item{
				float: left;
			}

				.b-top-buttons__link{
					display: block;
					position: relative;
					padding: 0.5em 1.25em;
					text-align: center;
					font-family: 'FontAwesome';
					color: #fff;
					text-decoration: none;
				}
					.b-top-buttons__link:hover{
						color: #fce38a;
					}

				.b-btn-slider{
					background: none;
					border: 3px solid #fff;
					color: #fff;
				}
					.b-btn-slider:hover{
						border: 3px solid #efefef;
						color: #efefef;
					}
	/*end b-top-buttons*/




/*end b-top-header*/

/*.b-middle-header*/
.b-middle-header{

}
	.b-slider__list{
		list-style: none;
		margin: 0;
		padding: 0;
	}
		.b-slider__item{
			color: #fff;
			text-align: center;
			padding: 10em 0 0 0;
		}
			.b-slider__head{
				font-family: 'kaushan_scriptregular';
				font-size: 4.5em;
				line-height: 0.9em;
				margin: 0 0 1em 0;
			}

			.b-slider__slogan{
				position: relative;
				font-family: 'montserratbold';
				font-size: 9.375em;
				line-height: 0.9em;
				text-transform: uppercase;
				margin: 0 0 126px 0;
			}
				.b-slider__slogan:after{
					content: " ";
					position: absolute;
					bottom: -73px;
					left: 50%;
					margin: 0 0 0 -30px;
					width: 60px;
					height: 3px;
					background: #fff;
				}

	.b-bottom-header{
		position: absolute;
		width: 100%;
		bottom: 0;
	}
		.b-slider-nav__list{
			list-style: none;
			margin: 0;
			padding: 0;
		}
			.b-slider-nav__item{
				position: relative;
				float: left;
				width: 23%;
				margin: 0 1%;
				border-top: 3px solid rgba(255, 255, 255, .5);
				color: #fff;
				font-family: 'montserratbold';
			}
				.b-slider-nav__item_active{
					border-top: 3px solid rgba(255, 255, 255, 1);
				}
					.b-slider-nav__item_active:before{
						position: absolute;
						top:-3px;
						left: 0;
						content: " ";
						height: 3px;
						width: 70px;
						background: #f38181;
					}

				.b-slider-nav__head{
					opacity: .7;
					font-size: 1.125em;
					margin: 24px 0 0;
					padding: 0 0 28px 0;
				}
					.b-slider-nav__item_active .b-slider-nav__head{
						opacity: 1;
					}
					.b-slider-nav__head span{
						font-size: 1.5em;
					}
/*end b-middle-header*/


/*end b-header*/

/*b-about*/
.b-about{
	padding: 93px 0 110px 0;
}

	.b-prew{
		font-family: 'kaushan_scriptregular';
		font-size: 1.5em;
		text-align: center;
		margin: 0 0 1em 0;
	}
		.b-head{
			position: relative;
			font-family: 'montserratbold';
			font-size: 1.875em;
			text-align: center;
			text-transform: uppercase;
			margin: 0 0 2em 0;
		}
			.b-head:after{
				position: absolute;
				left: 50%;
				bottom: -1em;
				content: " ";
				height: 3px;
				width: 70px;
				background: #f38181;
				margin: 0 0 0 -35px;
			}

		.b-desc{
			font-size: 0.93em;
			text-align: center;
			color: #999;
			margin: 0 0 6.9em 0;
		}

		.b-about__list{
			list-style: none;
			margin: 0;
			padding: 0;
		}
			
			.b-about__item{
				float: left;
				width: 30%;
				margin: 0 0 0 3%;
				position: relative;
			}
				.b-about__link{
					display: block;
					width: 100%;
					height: 252px;
					background: #95e1d3;
					color: #fff;
					text-decoration: none;
				}
					
					.b-about__list-desc{
						position: absolute;
						display: none;
						z-index: 10;
						width: 100%;
						height: 100%;
					}
						.b-about__link:hover .b-about__list-desc{
							display: block;
							width: 100%;
							height: 100%;
							/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db7474+0,e3cd7c+100 */
							background: #db7474; /* Old browsers */
							background: -moz-linear-gradient(top,  #db7474 0%, #e3cd7c 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(top,  #db7474 0%,#e3cd7c 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom,  #db7474 0%,#e3cd7c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db7474', endColorstr='#e3cd7c',GradientType=0 ); /* IE6-9 */
							opacity: .9;
						}

						.b-about__text{
							display: block;
							position: absolute;
							top: 40%;
							bottom: 0;
							left: 0;
							right: 0;
							text-align: center;
						}
							.b-about__ico{
								 font-family: 'ico-fonts107-mogo10regular';
                                font-size: 2.5em;
							}

                            .b-about__head{
                                margin: 0
                            }
					.b-about__img{
						position: absolute;
						width: 100%;
						height: 100%;
					}



/*end b-about*/

/*b-facts*/
.b-facts{
	background: #95e1d3;
	margin: 0 0 6.25em 0;
}

	.b-facts__list{
		text-align: justify;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	/*	.b-facts__list:after{
			content: " ";
			display: inline-block;
			width: 100%;
			height: 0;
		}
			.b-facts__item{
				display: inline-block;
				padding: 90px 35px;
				color: #fff;
				text-align: center;
				border-right: 1px solid rgba(255,255,255,.8);
			}*/


			.b-facts__item{
				float: left;
				width: 19.8%;
				border-right: 1px solid rgba(255,255,255,.8);
				padding: 90px 0;
				text-align: center;
				color: #fff;
			}	
				.b-facts__item:first-child{
					border-left: 1px solid rgba(255,255,255,.8);
				}
				.b-facts__num{
					font-family: 'montserratbold';
					font-size: 4.5em;
					margin: 0 0 0.41em 0;
				}

				.b-facts__desc{
					text-transform: uppercase;
				}
/*end b-facts*/

/*b-services*/
.b-services{
	margin: 0 0 6.25em 0;
}

.b-services__list{

}

	.b-services__item{
		position: relative;
		float: left;
		width: 24%;
		padding: 3% 0 3% 9%;
	}
		.b-services__item_photo,
		.b-services__item_design,
		.b-services__item_creativ,
		.b-services__item_seo,
		.b-services__item_html,
		.b-services__item_digital{
            position: absolute;
			font-family: 'ico-fonts107-mogo10regular';
            font-size: 3em;
			color: #95e1d3;
            left: 16%;
            top: 36%;
            width: 6%;
		}
        
        .b-services__item_creativ{
            top: 33%;
        }


		.b-services__list-head{
			text-transform: uppercase;
			font-family: 'montserratregular';
			font-size: 0.875em;
			line-height: 1.3em;
		}

		.b-services__list-desc{
			font-family: 'robotoregular';
			font-size: 0.93em;
			color: #999;
		}
/*end b-services*/

/*b-feature*/
.b-feature{
	background: #d9d9d9 url("../img/bg-feature.jpg") no-repeat;
	background-size: cover;
	padding: 6.25em 0;
	margin:0 0 6.25em 0;;
	min-height: 40.3em;
}
	.b-ipod{
		position: absolute;
		bottom: -599px;
		left: 336px;
		width: 477px;
		height: 582px;
		background: url("../img/bg-ipod.png") no-repeat;
	}

	.b-iphone{
		position: absolute;
		bottom: -695px;
		left: 727px;
		width: 274px;
		height: 476px;
		background: url("../img/bg-iphone.png") no-repeat;
		z-index: 10;
	}
/*end b-feature*/

/*.b-services2*/
.b-services2__content{
    margin: 0 0 2em 0;
}

.b-services2__list-i{
    float: left;
    width:48%;
}

	.b-services2__item-img{
		width: 100%;
	}

.b-services2__right{
    padding: 0 0 0 50%;
}

    .b-services2__item-text{
        position: relative;
        border: 1px solid #e5e5e5;
        margin: 0 0 2% 0;
    }
        .b-services2__list-head{
            position: relative;
            padding: 3% 1% 3% 10%;
/*            margin: 0 0 1% 0;*/
            font-size: 0.875em;
            font-weight: 700;
            text-transform: uppercase;
            min-height: 1em;
        }
            
            .b-services2_button_down:after,
            .b-services2_button_up:after{
                font-family: 'FontAwesome';
                font-size: 2em;
                color: #ccc;
                position: absolute;
                top: 25%;
                right: 2%;
            }
            .b-services2_button_down:after{
                content: "\f107";
            }
            .b-services2_button_up:after{
                content: "\f106";
            }

            .b-services2__ico{
                position: absolute;
                top: -19%;
                left: 3%;
                font-family: 'ico-fonts107-mogo10regular';
                font-size: 4em;
                font-weight: 400;
                color: #95e1d3;
            }
        .b-services2__list-desc{
            display: none;
            padding: 1%;
            margin: 1% 0 0 0;
            font-family: 'cuprumbold';
            font-size: 0.93em;
            color: #999;
            max-height: 9.375em;
            overflow-y: hidden;
        }

        .b-services2__list-desc_view{
            display: block;
        }

/*comments*/
.b-comments{
    display: block;
    background: #f8f8f8;
    padding: 4.25em 0;
}

    .b-comments__item{
        width: 86%;
        margin: 0 0 2% 14%;
        clear:both;
    }

        .b-comments__ava{
            position: relative;
            float: left;
            height: 9em;
            width: 9em;
            border: 3px solid #95e1d3;
        }
            .b-comments__ava:before{
                content: "I";
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                font-family: 'ico-fonts107-mogo10regular';
                color: #95e1d3;
                font-size: 6em;
                margin: -0.6em 0 0 -0.25em;
            }

        .b-comments__ava_img{
            border:none;
        }
         .b-comments__ava-img{
             position: absolute;
             z-index: 10;
             height: 100%;
             width: 100%;
             border-radius: 50%;
         }

        .b-comments__content{
            float: left;
            width: 76%;
            margin: 0 0 0 3%;
            padding: 0.687em 0 0 0;
            
        }
            .b-comments__text{
                font-family: 'cuprumbold';
                font-size: 1.5em;
            }
                .b-comments__text p{
                    color: #999;
                    margin: 0 0 0.6em 0;
                }
            .b-comments__author{
                position: relative;
                font-family: 'kaushan_scriptregular';
                padding: 0 0 0 4em;
               
            }
                .b-comments__author:before{
                    content: " ";
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 3.75em;
                    height: 3px;
                    background: #f38181;
                    
                }
/*comments navi*/

.b-comments-nav__link__prev,
.b-comments-nav__link_next{
    position: absolute;
    display: block;
    height: 3em;
    width: 2em;
    font-family: 'FontAwesome';
    text-decoration: none;
    font-size: 3em;
    color: #cfcfcf;
}

.b-comments-nav__link__prev:hover,
.b-comments-nav__link_next:hover{
    color: #555;
}

.b-comments-nav__link__prev{
    left: 0;
}

.b-comments-nav__link_next{
    right: 0;
}

.b-comments-nav__link__prev:after{
    position: absolute;
    top: 30%;
    left: 1em;
    content: "\f104";
}
.b-comments-nav__link_next:after{
    position: absolute;
    top: 30%;
    right: 0.5em;
    content: "\f105";
}

/*end comments navi*/

/*end comments*/

/*end b-services2*/

/*b-team*/
.b-team__item{
    float: left;
    width: 30%;
    margin: 0 0 0 3%;
    position: relative;
    overflow: hidden;
}
.l-team__wr{
    position: relative;
}
    .l-team-soc__wr{
        position: absolute;
        display: none;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
.l-team__wr:hover .l-team-soc__wr{
    display: block;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db7474+0,e3cd7c+100 */
    background: #db7474; /* Old browsers */
    background: -moz-linear-gradient(top,  #db7474 0%, #e3cd7c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #db7474 0%,#e3cd7c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #db7474 0%,#e3cd7c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db7474', endColorstr='#e3cd7c',GradientType=0 ); /* IE6-9 */
    opacity: .9;
}

.b-team-soc__list{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 3.5em;
    width: 59.5%;
    margin: -1.75em 0 0 -30%;
    
}
    .b-team-soc__item{
        position: relative;
        display: inline-block;
        width: 23%;
        background: #95e1d3;
    }
        .b-team-soc__link{
            display: block;
            padding: 0.3em 0;
            width: 100%;
            text-decoration: none;
            color: #f38181;
            background: #fce38a;
            text-align: center;
        }
            .b-team-soc__link:hover{
                background: #f38181;
                color: #fff;
            }
            .fa-facebook,
            .fa-twitter,
            .fa-pinterest-p,
            .fa-instagram{
                font-family: 'FontAwesome';
                font-size: 2em;                
            }
    .b-team__head{
        text-align: center;
        color: #333;
        text-transform: uppercase;
    }

    .b-team__desc{
        text-align: center;
        color: #999;
        font-style: italic;
    }

/*end b-team*/

/*b-logos*/
.b-logos{
    margin: 9.12em 0;
    background: #f4f4f4;
}
    .b-logos__item{
        position: relative;
        float: left;
        width: 16.66%;
        text-align: center;
    }
/*end b-logos*/

/*b-works*/
.b-works{
    
}
.b-works__list{
    column-count: 4;
    column-gap: 0;
    margin: 0 0 5% 0;
}
    .b-works__item{
        font-size: 0;
        margin: 0;
        padding: 0;
    }
        .b-works__img{
            height: auto;
            margin: 0;
            padding: 0;
        }
        .b-works__list-content{
            position: absolute;
        }
/*slider coments*/
.b-comments__slider{
    position: relative;
}
/*end slider coments*/
/*end b-works*/

/*b-client*/
.b-client{
    background: url("../img/bg-client.jpg") no-repeat;
    background-size: cover;
    padding: 2% 0;
    margin: 0 0 7% 0;
}

        .b-client__item{
            position: relative;
            float: left;
            width: 46%;
            padding: 0 2%;
            margin: 0 0 3% 0;
        }

            .b-client_ava{
                float: left;
                width: 9em;
                height: 9em;
                border-radius: 50%;
                overflow: hidden;
            }
                .b-client__ava-img{
                    width: 100%;
                    height: 100%;
                }

            .b-client__content{
                padding: 0 0 0 30%;
            }
                .b-client__name{
                    font-family:'montserratregular', sans-serif;
                    font-size: 0.875em;
                    text-transform: uppercase;
                }

                .b-client__position{
                    position: relative;
                    font-family: cuprumbold, sans-serif;
                    font-size: 0.937em;
                    padding: 0 0 2% 0;
                }
                    .b-client__position:after{
                        position: absolute;
                        left: 0;
                        bottom: -1em;
                        content: " ";
                        height: 3px;
                        width: 20%;
                        background: #f38181;
                        margin: 0 0 2% 0;
                    }

                .b-client__text{
                    font-family: 'robotoregular', sans-serif;
                    font-size: 0.937em;
                    color: #999;
                    line-height: 1.7;
                }
/*end b-client*/

/*b-blog*/

.b-blog{
	margin: 0 0 5% 0;
}

.b-post__item{
	vertical-align: top;
	position: relative;
	display: inline-block;
	/*float: left;*/
	width: 30%;
	margin: 0 0 3% 3%;
}
    .b-post__date{
        position: absolute;
        top: 44%;
        left: -2%;
        background: #95e1d3;
        padding: 2%;
    }

        .b-post__date-num,
        .b-post__date-mount{
            text-align: center;
            color: #fff;
        }

        .b-post__date-num{
            font-family: 'montserratbold', 'montserratregular', sans-serif;
            font-size: 1.875em;
        }

        .b-post__date-mount{
            font-family: 'robotoregular', sans-serif;
            font-style: italic;
            font-size: 0.937em;
        }

     .b-post__img{
         height: auto;
         width: 100%;
         margin: 0 0 4% 0;
     }

     .b-post__head{
         font-family: 'montserratbold', 'montserratregular', sans-serif;
         font-size: 0.875em;
         text-transform: uppercase;
         margin: 0 0 2% 0;
     }

     .b-post__desc{
         font-family: 'robotoregular', sans-serif;
         font-size: 0.937em;
         padding: 0 0 3% 0;
         color: #999;
         border-bottom: 1px solid #e5e5e5;
         margin: 0 0 3% 0;
     }

     .b-post__btn-view,
     .b-post__btn-coment{
         float: left;
         margin: 0 3% 0 0;
         font-family: 'robotoregular', sans-serif;
         font-style: italic;
         color: #999;
     }

        .b-post__btn-view:before,
        .b-post__btn-coment:before{
            font-family: 'ico-fonts107-mogo10regular';
            color: #95e1d3;
            font-size: 2em;
            margin: 0 5% 0 0;
        }
        .b-post__btn-view:before{
            content: "J";
        }
        .b-post__btn-coment:before{
            content: "M";
        }
/*end b-blog*/

/*b-map*/
.b-map{
    background: url("../img/bg-map.jpg") no-repeat;
    background-size: cover;
    padding: 5% 0;
    margin: 0 0 5% 0;
}
    .b-map__link{
        position: relative;
        display: block;
        font-family: 'montserratbold', 'montserratregular', sans-serif;
        font-size: 1.5em;
        text-align: center;
        text-decoration: none;
        color: #f38181;
    }
        .b-map__link:before{
            content: "K";
            display: block;
            position: absolute;
            left: 49%;
            top: -260%;
            font-family: 'ico-fonts107-mogo10regular';
            font-size: 3em;
        }

        .b-map__link:after{
            position: absolute;
            left: 50%;
            bottom: -1em;
            content: " ";
            height: 3px;
            width: 70px;
            background: #f38181;
            margin: 0 0 0 -35px;
        }

/*end b-map*/


/*footer*/
    .b-footer-desc{
        float: left;
        width: 30%;
        color: #ccc;
        margin: 0 4% 0 0;
    }
        .b-footer-desc__head{
            font-family: 'montserratbold', 'montserratregular', sans-serif;
            font-size: 2.875em;
            margin: 0 0 5% 0;
        }

        .b-footer-desc__text{
            font-family: 'robotoregular', sans-serif;
            font-size: 0.973em;
            margin: 0 0 3% 0;
        }

        .b-footer-desc__follow{
            color: #000;
            font-family: 'montserratregular', sans-serif;
            font-size: 0.973em;
            padding: 0 0 3% 0;
            border-bottom: 1px solid #e5e5e5;
        }
            .b-footer-desc__follow span{
                font-family: 'montserratbold', 'montserratregular', sans-serif;
                font-size: 1.125em;
            }

        .b-footer-soc__prew{
        	float: left;
        	margin: 0 3% 0 0;
            color: #999;
            font-size: 0.973em;
            font-family: 'robotoregular', sans-serif;
            font-weight: 100;
            font-style: italic;
        }



.b-footer-soc{
	margin: 0 0 5% 0;
}    
	.b-footer-soc__item{
		float: left;
		margin: 0 3% 0 0;
	}
		.b-footer-soc__link{
			text-decoration: none;
			font-family: 'FontAwesome';
			color: #95e1d3;
			font-size: 1.2em;
		}

.b-footer-form__input{
	float: left;
	font-family: 'robotolight_italic';
	color: #ccc;
	font-size: 0.973em;
	padding: 2%;
	margin: 0;
	border-left: 1px solid #efefef;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	border-right: none;
}	

	.b-footer-form__input::-webkit-input-placeholder, 
	.b-footer-form__input::-moz-placeholder,
	.b-footer-form__input:-moz-placeholder,           
	.b-footer-form__input:-ms-input-placeholder,
	.b-footer-form__input:placeholder{
		color: #ccc;
	}

.b-footer-form__input_submit{
	border: none;
	background: #95e1d3;
	font-family: 'montserratbold';
	font-size: 0.875em;
	text-transform: uppercase;
	color: #fff;
	padding:2.9% 3% 2% 3%;
}

	.b-footer-form__input_submit:hover{
		background: #6eaa9f;
	}

.b-footer-head{
	font-family: 'montserratregular';
	font-size: 0.875em;
	text-transform: uppercase;
	margin: 0 0 10% 0;
}

/*b-footer-blog*/
        
.b-footer-blog{
    float: left;
    width: 36%;
}

.b-footer-blog__item{
	margin: 0 0 7% 0;
	clear: both;
}

	.b-footer-blog__img-wr,
	.b-footer-blog__content{
		float: left;
	}

	.b-footer-blog__img-wr{
		width: 37%;
	}

	.b-footer-blog__content{
		width: 63%;
		padding: 3% 0 0 0;
	}
		.b-footer-blog__head{
			font-family: 'montserratregular';
			font-size: 0.75em;
			line-height: 1.5;
			text-transform: uppercase;
			margin: 0 0 2% 0;
		}

		.b-footer-blog__date{
			font-family: 'robotolight_italic';
			font-size: 0.8125em;
			color: #999;
		}
/*end b-footer-blog*/

/*b-footer-ig*/
.b-footer-ig{
    float: left;
    width: 30%;
}

	.b-footer-ig__list{
		margin: 0 0 5% 0;
	}
		.b-footer-ig__link{
			display: block;
			margin: 0;
			padding: 0;
		}
			.b-footer-ig__item{
				font-size: 0;
				float: left;
				margin:0 1% 1% 0;
			}

	.b-footer-ig__link-more{
		text-decoration: none;
		font-family: 'robotolight_italic';
		color: #333;
	}

	.b-footer-ig__link-more:hover{
		color: #aaa;
	}
/*end b-footer-ig*/

/*b-bottom-footer*/
.b-bottom-footer{
	padding: 5% 0;
}

	.b-footer-copy{
		font-family: 'montserratregular';
		font-size: 0.875em;
		text-align: center;
		color: #333;
	}
		.b-footer-copy__link{
			text-decoration: none;
			color: #f38181;
		}
			.b-footer-copy__link:hover{
				color: #b05f5f;
			}
/*end b-bottom-footer*/

/*end footer*/